.wrapper{
	width: 1024px;
	height:500px;
	border:2px solid  blue ;
	margin:10px;
	padding: 20px
}

header {

	height:100px;
	border:2px solid grey;

	margin: 10px;
	text-align: center;
}
#leftpanel,#rightpanel{
	width: 450px;
	height:185px;
	border: 2px solid #AA88 ;
	margin: 10px;
	float: left;

}
#rightpanel{
	width: 420px !important;
	margin-left: 10px !important;
}


.content{

	height:220px;
	border:2px solid #88AA ;
	margin:10px;

}
footer{


	height:100px;
	border:2px solid grey ;
	margin:10px;
	text-align: center;

}